body {
  font: 14px 'Century Gothic', Futura, sans-serif;
  margin: 20px;
}

ol,
ul {
  padding-left: 30px;
}

button {
  width: 100px;
  padding: 10px;
  border-radius: 10px;
  font-family: 幼圆;
  color: white;
  background: #bbe3fa;
}
.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #bbe3fa;
  border: 2px solid rgb(137, 172, 248);
  border-radius: 10px;
  float: left;
  font-size: 35px;
  font-weight: bold;
  line-height: 8px;
  height: 50px;
  width: 50px;
  margin-right: -1px;
  margin-top: -1px;
  text-align: center;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}
